@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #161515;
    color: white;
}

header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: #A9A9A9;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

nav a {
    font-size: 1.8rem;
    color: #A9A9A9;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
    color: white;
    border-bottom: 3px solid white;
}

.mode-selection {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}

.mode-selection h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #A9A9A9;
}

.mode-buttons {
    display: flex;
    gap: 10rem;
    justify-content: center;
    margin-top: 2rem;
}

.mode-buttons .btn {
    padding: 1.5rem 3rem;
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.mode-buttons .btn.normal {
    color: white;
    background-color: #28a745;
}

.mode-buttons .btn.normal:hover {
    background-color: #218838;
}

.mode-buttons .btn.hard {
    color: white;
    background-color: #dc3545;
}

.mode-buttons .btn.hard:hover {
    background-color: #c82333;
}